body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: #100303;
    background-size:100%;
    background-image: url("../../assets/bg.jpg");
}
#footer{
    font-size: 10px;
}

#signUpBtn{
    font-size: 10px;
    background-color: #664d03;
    height: 20px;
}

